ul {
  display: flex;
  margin: 0;
  gap: 10px;
}

li {
  list-style-type: none;
  color: #202020;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
