.menu-ul {
  display: flex;
  margin: 0;
  gap: 10px;
}

.menu-li {
  list-style-type: none;
  color: #202020;
}

.hero-container {
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.hero-paragraph {
  font-size: 22px;
}

.heading1 {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 82px;
  margin: 0;
}

.letter-label {
  position: relative;
}

.letter-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("./mail.svg") center / contain no-repeat;
}

.email-input {
  font-family: "Montserrat";
  border: none;
  padding: 20px 150px 20px 40px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.cta {
  font-family: "Montserrat";
  color: white;
  background-color: #ffcb47;
  border: none;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.container {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  background: url("./vector.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-text-div {
  padding-top: 100px;
  width: 70%;
}

.hero-plant {
  width: 135%;
  position: relative;
  left: -215px;
  top: -60px;
}

.larger-text {
  text-align: justify;
  width: 90%;
  margin-right: 0px;
}

.central-container {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.central-plant-div {
  width: 55%;
  height: auto;
}

.central-plant {
  width: 100%;
}

.central-text {
  padding: 30px 30px;
}

.central-paragraph {
  margin: 10px 0px;
  font-size: 22px;
}

.heading2 {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 41px;
  margin: 0;
}

.central-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.central-li {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.yellow-circle {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #ffcb47;
}

.offers-container {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 0;
  justify-items: center;
}

.card-list-item {
  list-style-type: none;
  display: flex;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 379px;
  max-height: 200px;
}

.card-image-div {
  width: 50%;
  height: 200px;
}

.card-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-div {
  width: 50%;
}

.card-offer-name {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 24px;
  margin-bottom: 0px;
}
