section {
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 82px;
  margin: 0;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("./mail.svg") center / contain no-repeat;
}

input[type="text"] {
  font-family: "Montserrat";
  border: none;
  padding: 20px 68px 20px 40px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

button {
  font-family: "Montserrat";
  color: white;
  background-color: #ffcb47;
  border: none;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  background: url("./vector.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-div {
  padding-top: 100px;
  width: 70%;
}

.plant {
  width: 100%;
  position: relative;
  left: -80px;
  top: -20px;
}

.larger-text {
  text-align: justify;
  width: 90%;
  margin-right: 0px;
}
